<div class="row">
   <div class="col-sm-12">
      <app-card>
         <form #form="ngForm" novalidate>
            <div class="form-group">
               <label class="col-form-label">Usuário</label>
               <div class="row">
                  <div class="col-md-12">
                     <input type="text" class="form-control" name="usuario" [(ngModel)]="usuario.usuario">
                  </div>
               </div>

               <label class="col-form-label">Nome</label>
               <div class="row">
                  <div class="col-sm-12">
                     <input type="text" class="form-control" name="nome" [(ngModel)]="usuario.nome">
                  </div>
               </div>

               <label class="col-form-label">E-mail</label>
               <div class="row">
                  <div class="col-sm-12">
                     <input type="email" class="form-control" name="email" [(ngModel)]="usuario.email">
                  </div>
               </div>

               <label class="col-form-label">Telefone</label>
               <div class="row">
                  <div class="col-sm-12">
                     <input type="text" class="form-control" name="telefone" [(ngModel)]="usuario.telefone">
                  </div>
               </div>

               <label class="col-form-label">Senha</label>
               <div class="row">
                  <div class="col-sm-12">
                     <input type="password" class="form-control" name="senha" [(ngModel)]="usuario.senha">
                  </div>
               </div>

               <br />

               <div class="card card-border-primary">
                  <div class="card-header">
                     <h5>Localização</h5>
                  </div>

                  <div class="card-block">
                     <div class="form-group">
                        <label class="col-form-label">CEP</label>
                        <div class="row">
                           <div class="col-sm-8">
                              <input type="text" class="form-control" name="cep" [(ngModel)]="usuario.cep">
                           </div>
                        </div>

                        <label class="col-form-label">Endereço</label>
                        <div class="row">
                           <div class="col-sm-8">
                              <input type="text" class="form-control" name="endereco" [(ngModel)]="usuario.endereco">
                           </div>
                        </div>

                        <div class="row">
                           <div class="col-sm-4">
                              <label class="col-form-label">Estado</label>
                              <select name="select" class="form-control" name="estado" ngModel>
                                 <option value="opt1">- Selecione -</option>
                                 <option value="opt2">Type 2</option>
                              </select>
                           </div>

                           <div class="col-sm-8">
                              <label class="col-form-label">Cidade</label>
                              <select name="select" class="form-control" name="cidade" ngModel>
                                 <option value="opt1">- Selecione -</option>
                                 <option value="opt2">Type 2</option>
                              </select>
                           </div>
                        </div>

                     </div>
                  </div>

               </div>

               <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                     <button class="btn btn-primary btn-block" (click)="clear(form)">Novo</button>
                  </div>

                  <div class="col-sm-4 col-md-4 col-lg-4">
                     <button class="btn btn-success btn-block" (click)="salvar(form)">Salvar</button>
                  </div>

                  <div class="col-sm-4 col-md-4 col-lg-4">
                     <a class="btn btn-danger btn-block" routerLinkActive="detail-active" [routerLink]="['/cadastro/usuario']">Cancelar</a>
                  </div>
               </div>

            </div>
         </form>
      </app-card>
   </div>
</div> 