<div class="row">
   <div class="col-sm-12">
      <app-card>
         <div class="row">
            <div class="col-sm-12 text-center">
               <a class="btn btn-primary" routerLinkActive="detail-active" [routerLink]="['novo']">Novo</a>
            </div>
         </div>

         <br />

         <div class="row">
            <div class="col-sm-12">
               <div class="table-responsive">
                  <table class="table table-hover table-striped table-bordered">
                     <thead>
                        <tr>
                           <th>Nome</th>
                           <th>E-mail</th>
                           <th>Telefone</th>
                           <th class="text-center">Editar</th>
                           <th class="text-center">Excluir</th>
                        </tr>
                     </thead>

                     <tbody>
                        <tr *ngFor="let usuario of usuarios | async">
                           <td>{{usuario.nome}}</td>
                           <td>{{usuario.email}}</td>
                           <td>{{usuario.telefone}}</td>
                           <td class="text-center">
                              <button class="btn btn-success btn-mini" [routerLink]="['novo', usuario.key]">&nbsp;<i class="ti ti-pencil"></i></button>
                           </td>
                           <td class="text-center">
                              <button class="btn btn-danger btn-mini" (click)="delete(usuario.key)">&nbsp;<i class="ti ti-close"></i></button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </app-card>
   </div>
</div>