<div class="row">
   <div class="col-sm-12">
      <app-card>
         <form #form="ngForm" novalidate>
            <div class="form-group">
               <label class="col-form-label">Código</label>
               <div class="row">
                  <div class="col-md-12">
                     <input type="text" class="form-control" name="codigo" [(ngModel)]="funcionario.codigo">
                  </div>
               </div>

               <label class="col-form-label">Usuário</label>
               <div class="row">
                  <div class="col-md-12">
                     <select class="form-control" name="usuario" [(ngModel)]="funcionario.usuario" [compareWith]="equals">
                        <option value="-1" selected="selected">- Selecione -</option>
                        <option *ngFor="let usuario of usuarios" [ngValue]="usuario">{{usuario.nome}}</option>
                     </select>
                  </div>
               </div>

               <div class="input-group"
     moment-picker="ctrl.timepicker"
     format="HH:mm:ss">
    <span class="input-group-addon">
        <i class="octicon octicon-clock"></i>
    </span>
    <input class="form-control"
           placeholder="Select a time"
           ng-model="ctrl.timepicker"
           ng-model-options="{ updateOn: 'blur' }">
</div>

               <label class="col-form-label">Tipo</label>
               <div class="row">
                  <div class="col-md-12">
                     <select name="select" class="form-control" [(ngModel)]="funcionario.tipoUsuario" [compareWith]="equals">
                        <option *ngFor="let tipo of tipoUsuario" [ngValue]="tipo">{{tipo.descricao}}</option>
                     </select>
                  </div>
               </div>

               <br />

               <div class="row">
                  <div class="col-sm-6">
                     <div class="card card-border-primary">
                        <div class="card-header">
                           <h5>Expediente</h5>
                        </div>

                        <div class="card-block">
                           <div class="form-group">
                              <div class="row">
                                 <label class="col-form-label">A partir de</label>
                                 <div class="col-sm-4">
                                    <input type="text" class="form-control" name="expedienteDe" [(ngModel)]="funcionario.expedienteDe">
                                 </div>

                                 <label class="col-form-label">até</label>
                                 <div class="col-sm-4">
                                    <input type="text" class="form-control" name="expedienteAte" [(ngModel)]="funcionario.expedienteAte">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-sm-6">
                     <div class="card card-border-primary">
                        <div class="card-header">
                           <h5>Intervalo</h5>
                        </div>

                        <div class="card-block">
                           <div class="form-group">
                              <div class="row">
                                 <label class="col-form-label">A partir de</label>
                                 <div class="col-sm-4">
                                    <input type="text" class="form-control" name="intervaloDe" [(ngModel)]="funcionario.intervaloDe">
                                 </div>

                                 <label class="col-form-label">até</label>
                                 <div class="col-sm-4">
                                    <input type="text" class="form-control" name="intervaloAte" [(ngModel)]="funcionario.intervaloAte">
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <br />

               <div class="card card-border-primary">
                  <div class="card-header">
                     <h5>Serviços</h5>
                  </div>

                  <div class="card-block">
                     <div class="row">
                        <div class="col-sm-12 text-center">
                           <a class="btn btn-primary" routerLinkActive="detail-active" [routerLink]="['novo']">Novo</a>
                        </div>
                     </div>

                     <div class="form-group">
                        <div class="row" *ngFor="let item of [0,1,2]">
                           <div class="col-sm-6">
                              <input class="checkbox-fade fade-in-primary" type="checkbox">
                              <label class="col-form-label">Serviço {{item}}</label>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

               <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                     <button class="btn btn-primary btn-block" (click)="clear(form)">Novo</button>
                  </div>

                  <div class="col-sm-4 col-md-4 col-lg-4">
                     <button class="btn btn-success btn-block" (click)="salvar(form)">Salvar</button>
                  </div>

                  <div class="col-sm-4 col-md-4 col-lg-4">
                     <a class="btn btn-danger btn-block" routerLinkActive="detail-active" [routerLink]="['/cadastro/funcionario']">Cancelar</a>
                  </div>
               </div>

            </div>
         </form>
      </app-card>
   </div>
</div>