<div class="row">
   <div class="col-lg-12">
      <div class="cover-profile">
         <div class="profile-bg-img">
            <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img1.jpg" alt="bg-img">
            <div class="card-block user-info">
               <div class="col-md-12">
                  <div class="media-left">
                     <a href="#" class="profile-image">
                        <img class="user-img img-circle" src="assets/images/user-profile/user-img.jpg" alt="user-img">
                     </a>
                  </div>
                  <div class="media-body row">
                     <div class="col-lg-12">
                        <div class="user-title">
                           <h2>Estação da Beleza</h2>
                           <span class="text-white">Salão de Beleza</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-lg-12">

      <div class="tab-header">
         <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
            <li class="nav-item">
               <a class="nav-link active" data-toggle="tab" href="#personal" role="tab" aria-expanded="true">Informações</a>
               <div class="slide"></div>
            </li>
            <li class="nav-item">
               <a class="nav-link" data-toggle="tab" href="#conf" role="tab" aria-expanded="false">Configurações</a>
               <div class="slide"></div>
            </li>
         </ul>
      </div>


      <div class="tab-content">

         <div class="tab-pane active" id="personal" role="tabpanel" aria-expanded="true">

            <div class="card">
               <div class="card-header">
                  <h5 class="card-header-text">Sobre mim</h5>
                  <button id="edit-btn" type="button" class="btn btn-sm btn-primary waves-effect waves-light f-right">
                     <i class="icofont icofont-edit"></i>
                  </button>
               </div>
               <div class="card-block">
                  <div class="view-info">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="general-info">
                              <div class="row">
                                 <div class="col-lg-12 col-xl-6">
                                    <table class="table m-0 table-responsive">
                                       <tbody>
                                          <tr>
                                             <th scope="row">Nome:</th>
                                             <td>Víctor Vinicius Klemann</td>
                                          </tr>
                                          <tr>
                                             <th scope="row">Telefone:</th>
                                             <td>(47) 3312 - 3456</td>
                                          </tr>

                                          <tr>
                                             <th scope="row">CEP:</th>
                                             <td>89 260 - 487</td>
                                          </tr>
                                          <tr>
                                             <th scope="row">Cidade:</th>
                                             <td>Jaraguá do Sul</td>
                                          </tr>
                                          <tr>
                                             <th scope="row">Endereço:</th>
                                             <td>Rua Pastor Albert Schneider</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>

                                 <div class="col-lg-12 col-xl-6">
                                    <table class="table table-responsive">
                                       <tbody>
                                          <tr>
                                             <th scope="row">E-mail:</th>
                                             <td>victorvklemann@gmail.com</td>
                                          </tr>

                                          <tr>
                                             <th scope="row">Celular:</th>
                                             <td>(47) 9 9987 - 5432</td>
                                          </tr>
                                         
                                          <tr>
                                             <th scope="row">&nbsp;</th>
                                             <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                             <th scope="row">Estado:</th>
                                             <td>Santa Catarina</td>
                                          </tr>
                                          <tr>
                                             <th scope="row">Número</th>
                                             <td>1234</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>

                              </div>

                           </div>

                        </div>

                     </div>

                  </div>

                  <div class="edit-info" style="display: none;">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="general-info">
                              <div class="row">
                                 <div class="col-lg-6">
                                    <table class="table">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <div class="input-group">
                                                   <span class="input-group-addon">
                                                      <i class="icofont icofont-user"></i>
                                                   </span>
                                                   <input type="text" class="form-control" placeholder="Full Name">
                                                </div>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                <div class="form-radio">
                                                   <div class="group-add-on">
                                                      <div class="radio radiofill radio-inline">
                                                         <label>
                                                            <input type="radio" name="radio" checked="">
                                                            <i class="helper"></i> Male
                                                         </label>
                                                      </div>
                                                      <div class="radio radiofill radio-inline">
                                                         <label>
                                                            <input type="radio" name="radio">
                                                            <i class="helper"></i> Female
                                                         </label>
                                                      </div>
                                                   </div>
                                                </div>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                <input id="dropper-default" class="form-control" type="text" placeholder="Birth Date">
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                <select id="hello-single" class="form-control">
                                                   <option value="">---- Marital Status ----</option>
                                                   <option value="married">Married</option>
                                                   <option value="unmarried">Unmarried</option>
                                                </select>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                <div class="input-group">
                                                   <span class="input-group-addon">
                                                      <i class="icofont icofont-location-pin"></i>
                                                   </span>
                                                   <input type="text" class="form-control" placeholder="Address">
                                                </div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>

                                 <div class="col-lg-6">
                                    <table class="table">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <div class="input-group">
                                                   <span class="input-group-addon">
                                                      <i class="icofont icofont-mobile-phone"></i>
                                                   </span>
                                                   <input type="text" class="form-control" placeholder="Mobile Number">
                                                </div>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                <div class="input-group">
                                                   <span class="input-group-addon">
                                                      <i class="icofont icofont-social-twitter"></i>
                                                   </span>
                                                   <input type="text" class="form-control" placeholder="Twitter Id">
                                                </div>
                                             </td>
                                          </tr>

                                          <tr>
                                             <td>
                                                <div class="input-group">
                                                   <span class="input-group-addon">
                                                      <i class="icofont icofont-social-skype"></i>
                                                   </span>
                                                   <input type="email" class="form-control" placeholder="Skype Id">
                                                </div>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td>
                                                <div class="input-group">
                                                   <span class="input-group-addon">
                                                      <i class="icofont icofont-earth"></i>
                                                   </span>
                                                   <input type="text" class="form-control" placeholder="website">
                                                </div>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>

                              </div>

                              <div class="text-center">
                                 <a href="#!" class="btn btn-primary waves-effect waves-light m-r-20">Save</a>
                                 <a href="#!" id="edit-cancel" class="btn btn-default waves-effect">Cancel</a>
                              </div>
                           </div>

                        </div>

                     </div>

                  </div>

               </div>

            </div>
         </div>


         <div class="tab-pane" id="binfo" role="tabpanel" aria-expanded="false">

            <div class="card">
               <div class="card-header">
                  <h5 class="card-header-text">User Services</h5>
               </div>
               <div class="card-block">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="card b-l-success business-info services m-b-20">
                           <div class="card-header">
                              <div class="service-header">
                                 <a href="#">
                                    <h5 class="card-header-text">Shivani Hero</h5>
                                 </a>
                              </div>
                              <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                 role="tooltip">
                              </span>
                              <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-edit"></i> Edit</a>
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-ui-delete"></i> Delete</a>
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-eye-alt"></i> View</a>
                              </div>
                           </div>
                           <div class="card-block">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi
                                       dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                                 </div>

                              </div>

                           </div>

                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="card b-l-danger business-info services">
                           <div class="card-header">
                              <div class="service-header">
                                 <a href="#">
                                    <h5 class="card-header-text">Dress and Sarees</h5>
                                 </a>
                              </div>
                              <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                 role="tooltip">
                              </span>
                              <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-edit"></i> Edit</a>
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-ui-delete"></i> Delete</a>
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-eye-alt"></i> View</a>
                              </div>
                           </div>
                           <div class="card-block">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi
                                       dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                                 </div>

                              </div>

                           </div>

                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="card b-l-info business-info services">
                           <div class="card-header">
                              <div class="service-header">
                                 <a href="#">
                                    <h5 class="card-header-text">Shivani Auto Port</h5>
                                 </a>
                              </div>
                              <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                 role="tooltip">
                              </span>
                              <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-edit"></i> Edit</a>
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-ui-delete"></i> Delete</a>
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-eye-alt"></i> View</a>
                              </div>
                           </div>
                           <div class="card-block">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi
                                       dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                                 </div>

                              </div>

                           </div>

                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="card b-l-warning business-info services">
                           <div class="card-header">
                              <div class="service-header">
                                 <a href="#">
                                    <h5 class="card-header-text">Hair stylist</h5>
                                 </a>
                              </div>
                              <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                 role="tooltip">
                              </span>
                              <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-edit"></i> Edit</a>
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-ui-delete"></i> Delete</a>
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-eye-alt"></i> View</a>
                              </div>
                           </div>
                           <div class="card-block">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi
                                       dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                                 </div>

                              </div>

                           </div>

                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="card b-l-danger business-info services">
                           <div class="card-header">
                              <div class="service-header">
                                 <a href="#">
                                    <h5 class="card-header-text">BMW India</h5>
                                 </a>
                              </div>
                              <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                 role="tooltip">
                              </span>
                              <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-edit"></i> Edit</a>
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-ui-delete"></i> Delete</a>
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-eye-alt"></i> View</a>
                              </div>
                           </div>
                           <div class="card-block">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi
                                       dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                                 </div>

                              </div>

                           </div>

                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="card b-l-success business-info services">
                           <div class="card-header">
                              <div class="service-header">
                                 <a href="#">
                                    <h5 class="card-header-text">Shivani Hero</h5>
                                 </a>
                              </div>
                              <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
                                 role="tooltip">
                              </span>
                              <div class="dropdown-menu dropdown-menu-right b-none services-list">
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-edit"></i> Edit</a>
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-ui-delete"></i> Delete</a>
                                 <a class="dropdown-item" href="#!">
                                    <i class="icofont icofont-eye-alt"></i> View</a>
                              </div>
                           </div>
                           <div class="card-block">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi
                                       dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                                 </div>

                              </div>

                           </div>

                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>