<div class="row">
   <div class="col-lg-12">
      <div class="cover-profile">
         <div class="profile-bg-img">
            <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img1.jpg" alt="bg-img">
            <div class="card-block user-info">
               <div class="col-md-12">
                  <div class="media-left">
                     <a href="#" class="profile-image">
                        <img class="user-img img-circle" src="assets/images/user-profile/user-img.jpg" alt="user-img">
                     </a>
                  </div>
                  <div class="media-body row">
                     <div class="col-lg-12">
                        <div class="user-title">
                           <h2>{{estabelecimento?.nome}}</h2>
                           <span class="text-white">Salão de Beleza</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-lg-12">

      <div class="tab-header">
         <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist" id="mytab">
            <li class="nav-item">
               <a class="nav-link {{activeTab === 'sobre' ? 'active' : ''}}" data-toggle="tab" data-target="#sobre" role="tab" (click)="changeActiveTab('sobre')"
                  aria-expanded="true">Informações</a>
               <div class="slide"></div>
            </li>
            <li class="nav-item">
               <a class="nav-link {{activeTab === 'config' ? 'active' : ''}}" data-toggle="tab" role="tab" (click)="changeActiveTab('config')"
                  aria-expanded="false">Configurações</a>
               <div class="slide"></div>
            </li>
         </ul>
      </div>

      <div class="tab-content">
         <div class="tab-pane {{activeTab === 'sobre' ? 'active' : ''}}" id="sobre" role="tabpanel">

            <div class="card">
               <div class="card-header">
                  <h5 class="card-header-text">Sobre o Estabelecimento</h5>
                  <button id="edit-btn" type="button" class="btn btn-sm btn-primary f-right" (click)="clear()">
                     &nbsp;
                     <i class="icofont {{!isEditing ? 'icofont-ui-edit' : 'icofont-ui-close'}}"></i>
                  </button>
               </div>
               <div class="card-block">
                  <div class="view-info" *ngIf="!isEditing">
                     <div class="row">
                        <div class="col-lg-12">
                           <div class="general-info">
                              <div class="row">
                                 <div class="col-lg-12 col-xl-6">
                                    <table class="table m-0 table-responsive">
                                       <tbody>
                                          <tr>
                                             <th scope="row">Nome:</th>
                                             <td>{{estabelecimento?.nome}}</td>
                                          </tr>
                                          <tr>
                                             <th scope="row">Telefone:</th>
                                             <td>{{estabelecimento?.telefone}}</td>
                                          </tr>

                                          <tr>
                                             <th scope="row">CEP:</th>
                                             <td>{{estabelecimento?.cep}}</td>
                                          </tr>
                                          <tr>
                                             <th scope="row">Estado:</th>
                                             <td>{{estabelecimento?.cidade?.estado?.nome}}</td>
                                          </tr>
                                          <tr>
                                             <th scope="row">Endereço:</th>
                                             <td>{{estabelecimento?.endereco}}</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>

                                 <div class="col-lg-12 col-xl-6">
                                    <table class="table table-responsive">
                                       <tbody>
                                          <tr>
                                             <th scope="row">E-mail:</th>
                                             <td>{{estabelecimento?.email}}</td>
                                          </tr>

                                          <tr>
                                             <th scope="row">Celular:</th>
                                             <td>{{estabelecimento?.celular}}</td>
                                          </tr>

                                          <tr>
                                             <th scope="row">&nbsp;</th>
                                             <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                             <th scope="row">Cidade:</th>
                                             <td>{{estabelecimento?.cidade?.nome}}</td>
                                          </tr>
                                          <tr>
                                             <th scope="row">Número</th>
                                             <td>{{estabelecimento?.numero}}</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="edit-info" *ngIf="isEditing">
                     <div class="row">
                        <div class="col-lg-12">
                           <form #form="ngForm" novalidate>
                              <div class="form-group">
                                 <div class="row">
                                    <div class="col-lg-12">

                                       <div class="row">
                                          <div class="col-sm-6">
                                             <label class="col-form-label">Nome</label>
                                             <input type="text" class="form-control" name="nome" [(ngModel)]="estabelecimento.nome">
                                          </div>

                                          <div class="col-sm-6">
                                             <label class="col-form-label">E-mail</label>
                                             <input type="text" class="form-control" name="email" [(ngModel)]="estabelecimento.email">
                                          </div>
                                       </div>

                                       <div class="row">
                                          <div class="col-sm-6">
                                             <label class="col-form-label">Telefone</label>
                                             <input type="text" class="form-control" name="telefone" [(ngModel)]="estabelecimento.telefone">
                                          </div>

                                          <div class="col-sm-6">
                                             <label class="col-form-label">Celular</label>
                                             <input type="text" class="form-control" name="celular" [(ngModel)]="estabelecimento.celular">
                                          </div>
                                       </div>

                                       <div class="row">
                                          <div class="col-sm-6">
                                             <label class="col-form-label">CEP</label>
                                             <input type="text" class="form-control" name="cep" [(ngModel)]="estabelecimento.cep">
                                          </div>
                                       </div>

                                       <div class="row">
                                          <div class="col-sm-6">
                                             <label class="col-form-label">Estado</label>
                                             <select class="form-control" name="estado" (change)="changeEstado()" [(ngModel)]="estado" [compareWith]="equals">
                                                <option value="-1" selected="selected">- Selecione -</option>
                                                <option *ngFor="let estado of estados" [ngValue]="estado">{{estado?.nome}}</option>
                                             </select>
                                          </div>

                                          <div class="col-sm-6">
                                             <label class="col-form-label">Cidade</label>
                                             <select class="form-control" name="cidade" [(ngModel)]="estabelecimento.cidade" [compareWith]="equals">
                                                <option value="-1" selected="selected">- Selecione -</option>
                                                <option *ngFor="let cidade of cidades" [ngValue]="cidade">{{cidade?.nome}}</option>
                                             </select>
                                          </div>
                                       </div>

                                       <div class="row">
                                          <div class="col-sm-6">
                                             <label class="col-form-label">Endereço:</label>
                                             <input type="text" class="form-control" name="endereco" [(ngModel)]="estabelecimento.endereco">
                                          </div>

                                          <div class="col-sm-3">
                                             <label class="col-form-label">Número</label>
                                             <input type="text" class="form-control" name="numero" [(ngModel)]="estabelecimento.numero">
                                          </div>
                                       </div>

                                    </div>
                                 </div>

                                 <br />

                                 <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                       <button class="btn btn-success btn-block" (click)="salvar()">Salvar</button>
                                    </div>

                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                       <button class="btn btn-danger btn-block" (click)="clear()">Cancelar</button>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="tab-pane {{activeTab === 'config' ? 'active' : ''}}" id="#config" role="tabpanel">

            <div class="card">
               <div class="card-header">
                  <h5 class="card-header-text">Funcionamento</h5>
               </div>

               <div class="card-block">
                  <div class="row">
                     <div class="col-md-12">
                        <form #form="ngForm" novalidate>

                           <div class="row">
                              <div class="col-sm-6">
                                 <div class="card card-border-primary">
                                    <div class="card-header">
                                       <h5>Expediente</h5>
                                    </div>

                                    <div class="card-block">
                                       <div class="form-group">
                                          <div class="row">
                                             <label class="col-form-label">A partir de</label>
                                             <div class="col-sm-4">
                                                <input type="text" class="form-control" name="expedienteDe">
                                             </div>

                                             <label class="col-form-label">até</label>
                                             <div class="col-sm-4">
                                                <input type="text" class="form-control" name="expedienteAte">
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>

                              <div class="col-sm-6">
                                 <div class="card card-border-primary">
                                    <div class="card-header">
                                       <h5>Intervalo</h5>
                                    </div>

                                    <div class="card-block">
                                       <div class="form-group">
                                          <div class="row">
                                             <label class="col-form-label">A partir de</label>
                                             <div class="col-sm-4">
                                                <input type="text" class="form-control" name="intervaloDe">
                                             </div>

                                             <label class="col-form-label">até</label>
                                             <div class="col-sm-4">
                                                <input type="text" class="form-control" name="intervaloAte">
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>

                              <div class="col-sm-12">
                                 <button class="btn btn-success btn-block" (click)="salvar()">Salvar</button>
                              </div>
                           </div>

                        </form>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
