<a class="card">
   <div class="card-header">
      <div class="row">
         <div class="col-sm-4 text-center">
            <button class="btn btn-outline-primary" (click)="back()">
               <i class="ti ti-angle-left"></i>
            </button>
         </div>

         <div class="col-sm-4 text-center">
            <h6 class="media-heading">{{data}}</h6>
            <span class="f-12 text-muted">Terça-feira</span>
         </div>

         <div class="col-sm-4 text-center">
            <button class="btn btn-outline-primary" (click)="next()">
               <i class="ti ti-angle-right"></i>
            </button>
         </div>
      </div>
   </div>

   <div class="card-block">
      <div class="row">
         <div class="col-sm-12">
            <div class="card table-card widget-{{agenda.status?.codigo == 1? 'primary-card' : 'success-card'}}" *ngFor="let agenda of agendas" (click)="open(agenda)">
               <div class="row-table">
                  <div class="col-sm-3 card-block-big">
                     <h4>{{agenda.horaInicio}}</h4>
                  </div>
                  <div class="col-sm-9">
                     <div class="row">
                        <div class="col-sm-12">
                           <strong>
                              <span class="f-12">Cliente:</span>
                           </strong> Víctor Vinicius Klemann
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-12">
                           <strong>
                              <span class="f-12">Serviço:</span>
                           </strong> {{agenda.servico?.descricao}}
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-12">
                           <strong>
                              <span class="f-12">Status:</span>
                           </strong> {{agenda.status?.descricao}}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</a>
