<div class="modal-header">
   <h4 class="modal-title">Confirmação</h4>
</div>
<div class="modal-body">
   <div class="row">
      <div class="col-sm-12">
         <strong>
            <span class="f-14">Horário:</span>
         </strong> 08:00
      </div>
   </div>

   <div class="row">
      <div class="col-sm-12">
         <strong>
            <span class="f-14">Serviço:</span>
         </strong> Corte de cabelo
      </div>
   </div>

   <div class="row">
      <div class="col-sm-12">
         <strong>
            <span class="f-14">Atendente:</span>
         </strong> Víctor Klemann
      </div>
   </div>
</div>
<div class="modal-footer">
   <div class="row">
      <div class="col-sm-6">
         <button class="btn btn-warning">Cancelar</button>
      </div>

      <div class="col-sm-6">
         <button class="btn btn-success">Confirmar</button>
      </div>
   </div>
</div>