<div class="row">
   <div class="col-sm-12">
      <app-card>
         <form #form="ngForm" novalidate>
            <div class="form-group">
               <label class="col-form-label">Código</label>
               <div class="row">
                  <div class="col-md-12">
                     <input type="text" class="form-control" name="codigo" [(ngModel)]="servico.codigo">
                  </div>
               </div>

               <label class="col-form-label">Nome</label>
               <div class="row">
                  <div class="col-sm-12">
                     <input type="text" class="form-control" name="nome" [(ngModel)]="servico.nome">
                  </div>
               </div>

               <label class="col-form-label">Descrição</label>
               <div class="row">
                  <div class="col-sm-12">
                     <textarea rows="5" cols="5" class="form-control" name="descricao" [(ngModel)]="servico.descricao"></textarea>
                  </div>
               </div>

               <label class="col-form-label">Preço</label>
               <div class="row">
                  <div class="col-sm-4">
                     <input type="text" class="form-control" name="preco" [(ngModel)]="servico.preco">
                  </div>
               </div>

               <label class="col-form-label">Duração</label>
               <div class="row">
                  <div class="col-sm-2">
                     <input type="number" class="form-control" name="duracao" [(ngModel)]="servico.duracao">
                  </div>
                  <div class="col-sm-10">
                     <select name="select" class="form-control" [(ngModel)]="servico.tipoDuracao">
                        <option *ngFor="let tipo of tiposDuracao" value="{{tipo}}">{{tipo}}</option>
                     </select>
                  </div>
               </div>

               <br />

               <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                     <button class="btn btn-primary btn-block" (click)="clear(form)">Novo</button>
                  </div>

                  <div class="col-sm-4 col-md-4 col-lg-4">
                     <button class="btn btn-success btn-block" (click)="salvar(form)">Salvar</button>
                  </div>

                  <div class="col-sm-4 col-md-4 col-lg-4">
                     <a class="btn btn-danger btn-block" routerLinkActive="detail-active" [routerLink]="['/cadastro/servico']">Cancelar</a>
                  </div>
               </div>

            </div>
         </form>
      </app-card>
   </div>
</div>