<a class="card">
   <div class="card-block">
      <div class="row">
         <div class="col-sm-12">
            <div class="cover-profile">
               <div class="profile-bg-img">
                  <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img1.jpg" alt="bg-img">
                  <div class="card-block user-info">
                     <div class="col-md-12">
                        <div class="media-left">
                           <a href="#" class="profile-image">
                              <img class="user-img img-circle" src="assets/images/user-profile/user-img.jpg" alt="user-img">
                           </a>
                        </div>
                        <div class="media-body row">
                           <div class="col-lg-12">
                              <div class="user-title">
                                 <h2>{{estabelecimento.nome}}</h2>
                                 <span class="text-white">Salão de Beleza</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-sm-12">
            <div class="pull-right">
               <span>{{estabelecimento.cidade?.nome + ' / ' + estabelecimento.cidade?.estado?.sigla + ' (12KM)'}}</span>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-sm-12">
            <label class="col-form-label">Serviço</label>
            <select class="form-control" name="servico" (change)="changeServico()" [(ngModel)]="agenda.servico">
               <option value="-1" selected="selected">- Selecione -</option>
               <option *ngFor="let servico of servicos" [ngValue]="servico">{{servico.nome}}</option>
            </select>
         </div>

         <div class="col-sm-12">
            <label class="col-form-label">Funcionário</label>
            <select class="form-control" name="funcionario" (change)="changeFuncionario()" [(ngModel)]="agenda.funcionario">
               <option value="-1" selected="selected">- Selecione -</option>
               <option *ngFor="let funcionario of funcionarios" [ngValue]="funcionario">{{funcionario.usuario?.nome}}</option>
            </select>
         </div>

         <div class="col-sm-12">
            <br />
            <div class="card">
               <div class="card-header">
                  <div class="row">
                     <div class="col-sm-4 text-center">
                        <button class="btn btn-outline-primary" (click)="back()">
                           <i class="ti ti-angle-left"></i>
                        </button>
                     </div>

                     <div class="col-sm-4 text-center">
                        <h6 class="media-heading">{{data}}</h6>
                        <span class="f-12 text-muted">{{diaSemana}}</span>
                     </div>

                     <div class="col-sm-4 text-center">
                        <button class="btn btn-outline-primary" (click)="next()">
                           <i class="ti ti-angle-right"></i>
                        </button>
                     </div>
                  </div>
               </div>

               <div class="card-block">
                  <div class="row">
                     <div class="col-sm-4" *ngFor="let agenda of agendas">
                        <button class="btn btn-{{ agenda.status?.codigo !== null ? 'danger' : 'success' }} btn-block"
                                style="margin-bottom: 10px;"
                                (click)="open(agenda.horaInicio)"
                                [disabled]="agenda.status?.codigo !== null">
                           <span *ngIf="agenda.status?.codigo === null">{{agenda.horaInicio}}</span>
                           <span *ngIf="agenda.status?.codigo !== null"><i class="icofont icofont-lock"></i></span>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</a>
