<div class="modal-header">
	<h4 class="modal-title">Agendamento - Informações</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-sm-6">
			<strong>
				<span class="f-14">Data:</span>
			</strong> {{agenda.data}}
		</div>
		<div class="col-sm-6">
			<strong>
				<span class="f-14">Horário:</span>
			</strong> {{agenda.horaInicio + ' as ' + agenda.horaFim}}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<strong>
				<span class="f-14">Serviço:</span>
			</strong> {{agenda.servico?.descricao}}
		</div>
		<div class="col-sm-6">
			<strong>
				<span class="f-14">Preço:</span>
			</strong> {{agenda.servico?.preco}}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<strong>
				<span class="f-14">Atendente:</span>
			</strong> {{agenda.funcionario?.usuario?.nome}}
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<strong>
				<span class="f-14">Status:</span>
			</strong> {{agenda.status?.descricao}}
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-sm-6">
			<button class="btn btn-warning" (click)="activeModal.dismiss()">Cancelar</button>
		</div>

		<div class="col-sm-6">
			<button class="btn btn-success" (click)="salvar()">Confirmar</button>
		</div>
	</div>
</div>